body {
	background-color: lightgrey;
}

div {
	border: 1px solid Chocolate;
}

.header-navbar, .content, .top-nav {
	background-color: white;
}

.content {
	max-width: 50em;
	margin-right: auto;
	margin-left: auto;
}

.nav-links {
	padding: 0 0 0 22em;
}

.nav-links > li{
	display: inline-block;
	list-style-type: none;
	padding-left: 1em;
}



/*
.top-nav {
	background-color: white;
}

.header-navbar {
	padding: 0.6em;
}

.content {
	position: relative;
	max-width: 50em;
}

.nav-links {
	position: relative;
}
.nav-links > li {
	display: inline-block;
	list-style-type: none;
	text-align: center;
}
*/