/*
body {
	background-color: lightgrey;
}
*/
div ul{
	border: 1px solid Chocolate;
}


html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.top-nav {
	background-color: #fff;
}

.top-nav > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.content {
	padding: 0px 15px;
}

.top-nav > .content > .links {
	float: right;

}

.links > li {
	display: inline-block;
	list-style-type: none;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

/*
.content {
	max-width: 50em;
	margin-right: auto;
	margin-left: auto;
	padding: 0.6em 0;
}



.logo {
	position: relative;

}

.links {
	padding: 0 0 0 22em;
	margin: 0;
}

.links > li {
	display: inline-block;
	list-style-type: none;
	padding-left: 1em;
}

.links > li > a {
	text-decoration: none;
	color: #4C5058;
}

.active {
	color: #4C5058;
}
*/